@import url('https://fonts.googleapis.com/css?family=Bowlby+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
html{     
    overflow: hidden;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    min-width: 100%;
    background-color: #9dc0b7;
}
#c-vis{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100%;    
}
.c-vis:nth-of-type(2){
    max-height: 50%;    
    background-image: url('../img/Doabg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    flex-grow: 1
}
.c-vis:nth-of-type(1),.c-vis:nth-of-type(3){   
    max-height: 25%;
}
.descricao{
    font-family: monospace;
    text-align: center;
    color: #FF0000;
    font-size: 20px;
    margin-bottom: 20%;     
}
.btn-home{       
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    padding: 20px;
}
.btn-h{
    width: 200px;
    height: 100px;
    outline: none;
    font-family: 'Bowlby One', cursive;
    text-shadow: 2px 2px 0px #000000;
    color: #fff;
    background: #FF0000;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn-h::before{
    border: 3px #000 solid;
    content: '';
    height: 100px;
    width: 200px;
    position: absolute;
    top: auto;
    right: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    transition: all 50ms ease-in-out;
    transform: scale(1.04,1.05);
}
.btn-h:hover:before{
    transform: scale(1.06,1.09);
}
.gambi{
    background: transparent;
    width: 5%;
}
.rd,#main-menu{
    display: none;
}
h1{    
    font-family: 'Bowlby One', cursive;
    font-size: 110px;
    font-weight: normal;
    color: #FF0000;     
    text-align: center;    
    text-shadow: 5px 4px 0px #000000;    
}
.container{
    transition: margin-top 1s cubic-bezier(0,-0.47,.96,.04);    
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;       
}
.pag{
    /*position: relative;cuidado*/     
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    padding-top: 1px;
}
#como:checked ~ .container{
    margin-top: -100vh;
}
#mapa:checked ~ .container{
    margin-top: -200vh;
}
#discus:checked ~ .container{
    margin-top: -300vh;
}
#quem:checked ~ .container{
    margin-top: -400vh;
}
#home:checked ~ #menu-radio .x1,
#como:checked ~ #menu-radio .x2,
#mapa:checked ~ #menu-radio .x3,
#discus:checked ~ #menu-radio .x4,
#quem:checked ~ #menu-radio .x5{    
    opacity: 1;
    border-color: #FF0000;
}
#menu{   
    position: fixed;
    top: 0;
    left: -405px;
    width: 400px;    
    height: 100vh;
    max-height: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;     
    transition: transform .5s linear;
    background: linear-gradient(#FF0000,#480000);
    z-index: 999999;
}
.menu{       
    font-family: 'Bowlby One', cursive;
    text-shadow: 5px 4px 0px #000000;  
    font-size: 2.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor: pointer;    
    /*border: 1px solid red;*/
    padding: 5px;
    margin-bottom: 5px;
    height: 90px;    
    position: relative;
}
.usr{    
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;   
}
.usr img{    
    height: 90px;
    width: 90px;    
}
.img-user{
    height: 90px;
    width: 90px;
    position: relative;
}
.img-user:before{
    content: '12';
    padding: 5px;
    border-radius: 50%;
    background: green;
    position: absolute; 
    right: -15px;
    border: 1px solid #fff;
}
.a{
    padding: 5px;
}
.main-menu{
    transition: all .3s ease;
    z-index: 99999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    top:10px;
    right:15px;
    height: 60px;
    width: 60px;    
    cursor: pointer;
    background: #FF0000;
    border: 3px solid #000;   
    border-radius: 5px;
}

#main-menu:checked ~ #menu{
    transform: translateX(410px);
}
#main-menu:checked ~ .main-menu{
    transform: translateX(100px);
}
#main-menu:checked ~ #menu .menu{
    /*background: gold;*/
}
#close{
    transition: all 1.3s ease;
    z-index: 9999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    top:10px;
    right:0px;
    height: 60px;
    width: 60px;    
    cursor: pointer;            
    border-radius: 50%;
    text-shadow:none;
}
.menu:hover{
    color: #f6d8d8;
}
#menu-radio{
    z-index: 9999;
    height: 100vh;
    position: fixed;
    right:20px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-rd{
    height:25px;
    width: 25px;
    border-radius: 50%;
    border: 5px solid #000;
    margin: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    opacity: .4;
}
/*ANIMAÇAO*/
/*-------------------------------------------------------------------------------------------------------------------*/
@-webkit-keyframes heartbeat {
    0% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    14% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    28% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    42% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    70% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
}
@-moz-keyframes heartbeat {
    0% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    14% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    28% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    42% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    70% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
}
@-o-keyframes heartbeat {
    0% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    14% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    28% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    42% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    70% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
}
@keyframes heartbeat {
    0% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    14% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    28% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    42% {
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(45deg) scale(1.3);
    }
    70% {
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
}
/* Styles for old versions of IE */
.heartbeat {
    font-family: sans-serif;
    font-weight: 100;
}
/* :not(:required) hides this rule from IE9 and below */
.heartbeat:not(:required) {
    -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
    -khtml-animation: heartbeat 1300ms ease 0s infinite normal;
    -moz-animation: heartbeat 1300ms ease 0s infinite normal;
    -ms-animation: heartbeat 1300ms ease 0s infinite normal;
    -o-animation: heartbeat 1300ms ease 0s infinite normal;
    animation: heartbeat 1300ms ease 0s infinite normal;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 66px;
    height: 66px;
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.heartbeat:not(:required):after, .heartbeat:not(:required):before {
    position: absolute;
    content: "";
    background: #FF0000;
}
.heartbeat:not(:required):before {
    -moz-border-radius-topleft: 12px;
    -webkit-border-top-left-radius: 12px;
    border-top-left-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
    top: 12px;
    left: 0;
    width: 36px;
    height: 24px;
}
.heartbeat:not(:required):after {
    -moz-border-radius-topleft: 12px;
    -webkit-border-top-left-radius: 12px;
    border-top-left-radius: 12px;
    -moz-border-radius-topright: 12px;
    -webkit-border-top-right-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    left: 12px;
    width: 24px;
    height: 12px;
}
/*-------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {  
    html{
        background-image: none;
    }   
    h1{
        font-size: 60px;
    }
    .descricao{
        display: none
    }
    .heartbeat{
        display: block!important;
        margin: auto!important;
        width:  50px!important; 
        height: 50px!important;
    }
    .gambi{
        width: 20px;
    }
    .btn-home{
        /*flex-direction: column;*/        
        align-items: baseline;
        align-self: baseline;
    }
    .btn-h{
        width: 140px;
        height: 70px;
        font-size: 1em;
    }
    .main-menu{
        width: 40px;
        height: 40px;
    }
    #menu{
        width: 100%;
        left: -100%;
    } 
    .menu{
        font-size: 1.5em;
        height: 70px;
    }
    .menu:last-of-type{
        display: none
    }
    #main-menu:checked ~ #menu{
        transform: translateX(100vw);
    }
    .c-vis:nth-of-type(1){
        max-height: 50%;
    }

    .c-vis:nth-of-type(2){
        max-height: 30%
    }

}